.crypto-list-dropdown {
  background-color: #464646;
}

.crypto-list-dropdown > .dropdown-item {
  color: white;
}

.crypto-list-dropdown > .dropdown-item:hover {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}